# QCTO - Workplace Module

### Project Title: Regional Vegetable Price Analysis: Trends and Seasonality
#### Done By: Abel Masotla

Â© ExploreAI 2024

---

## Table of Contents

<a href=#BC> Background Context</a>

<a href=#one>1. Importing Packages</a>

<a href=#two>2. Data Collection and Description</a>

<a href=#three>3. Loading Data </a>

<a href=#four>4. Data Cleaning and Filtering</a>

<a href=#five>5. Exploratory Data Analysis (EDA)</a>

<a href=#six>6. Modeling </a>

<a href=#seven>7. Evaluation and Validation</a>

<a href=#eight>8. Final Model</a>

<a href=#nine>9. Conclusion and Future Work</a>

<a href=#ten>10. References</a>

---
 <a id="BC"></a>
## **Background Context**
<a href=#cont>Back to Table of Contents</a>


**Purpose:**  
This project aims to analyze vegetable prices across different regions using data from an authorized source ([Agmarknet](https://agmarknet.gov.in/)). The main objective is to explore pricing trends, identify patterns, and understand the factors influencing price fluctuations over time.

**Problem Domain:**  
Vegetable prices are highly variable, influenced by several factors such as regional availability, seasonality, weather conditions, and market demand. These fluctuations can impact both consumers and producers, making it crucial to analyze the trends to predict future price changes and minimize uncertainties.

The project seeks to address the following key questions:
- What are the **average price trends** for specific vegetables across different regions over time?
- Are there any **patterns of price volatility** or sudden changes that occur frequently?
- How does **seasonality** influence the prices of various vegetables, and can it be predicted?
- What role do **regional factors** play in pricing differences across different geographical areas?

**Significance:**  
Understanding vegetable pricing trends can offer insights to:
- **Consumers**, by helping them plan their purchases based on expected price changes.
- **Farmers**, by enabling them to optimize their planting and selling strategies to maximize profits.
- **Policymakers**, by providing data to stabilize prices and avoid extreme volatility in the market.

---
<a href=#one></a>
## **Importing Packages**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Set up the Python environment with necessary libraries and tools.
* **Details:** List and import all the Python packages that will be used throughout the project such as Pandas for data manipulation, Matplotlib/Seaborn for visualization, scikit-learn for modeling, etc.
---

In [4]:
# Import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

---
<a href=#two></a>
## **Data Collection and Description**
<a href=#cont>Back to Table of Contents</a>

**Purpose:**  
The dataset used in this project is sourced from Kaggle, which cites Agmarknet ([Agmarknet](https://agmarknet.gov.in/)) as the original source for the vegetable price data. The dataset provides extensive details on vegetable prices across various regions in India, collected over a specified time period.

**Data Characteristics:**
- **Size:** The dataset contains thousands of rows, each representing a vegetable price record.
- **Scope:** Prices of various vegetables in multiple regions across different time periods.
- **Data Types:** 
  - Categorical (vegetable names, region)
  - Numerical (price)
  - Temporal (dates)
---

In [7]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#three></a>
## **Loading Data**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Load the data into the notebook for manipulation and analysis.
* **Details:** Show the code used to load the data and display the first few rows to give a sense of what the raw data looks like.
---

In [13]:
# Load the CSV file
df = pd.read_csv("prices.csv")

# Display the first few rows
df.head(30)

,Price Dates,Bhindi (Ladies finger),Tomato,Onion,Potato,Brinjal,Garlic,Peas,Methi,Green Chilli,Elephant Yam (Suran)
0,01-01-2023,35.0,18,22.0,20,30,50,25,8,45.0,25
1,02-01-2023,35.0,16,22.0,20,30,55,25,7,40.0,25
2,03-01-2023,35.0,16,21.0,20,30,55,25,7,40.0,25
3,04-01-2023,30.0,16,21.0,22,25,55,25,7,40.0,25
4,08-01-2023,35.0,16,20.0,21,25,55,22,6,35.0,25
5,11-01-2023,35.0,16,18.0,24,25,55,23,6,35.0,30
6,12-01-2023,40.0,16,18.0,22,30,65,23,6,35.0,30
7,15-01-2023,42.0,16,17.0,22,25,65,23,7,35.0,30
8,17-01-2023,35.0,16,18.0,22,30,65,22,10,40.0,35
9,22-01-2023,45.0,16,18.0,22,40,65,25,9,40.0,35
10,23-01-2023,42.0,16,18.0,22,50,65,25,8,40.0,35
11,24-01-2023,45.0,16,16.0,22,60,65,28,15,35.0,30
12,25-01-2023,40.0,16,16.0,20,70,65,25,15,35.0,25
13,27-01-2023,35.0,16,17.0,17,50,65,25,15,35.0,25
14,29-01-2023,35.0,16,15.0,18,40,65,30,15,35.0,25
15,30-01-2023,40.0,16,14.0,17,50,65,30,15,35.0,30
16,31-01-2023,40.0,16,13.5,18,50,65,30,15,35.0,30
17,01-02-2023,42.5,16,13.0,17,50,65,30,12,45.0,30
18,02-02-2023,35.0,16,13.0,17,40,65,30,12,42.0,30
19,03-02-2023,40.0,16,12.5,16,40,65,30,14,40.0,25
20,05-02-2023,38.0,16,12.0,16,50,65,30,12,40.0,25
21,06-02-2023,40.0,16,13.0,16,40,65,35,12,40.0,25
22,07-02-2023,35.0,16,14.0,16,40,65,30,10,50.0,25
23,08-02-2023,40.0,16,14.0,16,40,65,35,10,40.0,25
24,09-02-2023,40.0,16,13.0,16,40,65,30,10,40.0,25
25,10-02-2023,38.0,16,13.0,15,40,65,35,10,40.0,25
26,12-02-2023,45.0,16,13.0,14,45,65,35,8,40.0,25
27,13-02-2023,40.0,16,13.0,14,35,80,35,7,40.0,25
28,14-02-2023,40.0,16,13.0,15,30,80,30,7,40.0,30
29,15-02-2023,40.0,16,12.0,14,30,60,30,6,40.0,30

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287 entries, 0 to 286
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Price Dates             287 non-null    object
 1   Bhindi (Ladies finger)  287 non-null    float64
 2   Tomato                  287 non-null    int64
 3   Onion                   287 non-null    float64
 4   Potato                  287 non-null    int64
 5   Brinjal                 287 non-null    int64
 6   Garlic                  287 non-null    int64
 7   Peas                    287 non-null    int64
 8   Methi                   287 non-null    int64
 9   Green Chilli            287 non-null    float64
 10  Elephant Yam (Suran)    287 non-null    int64
dtypes: float64(3), int64(7), object(1)
memory usage: 24.8+ KB

---
<a href=#four></a>
## **Data Cleaning and Filtering**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Prepare the data for analysis by cleaning and filtering.
* **Details:** Include steps for handling missing values, removing outliers, correcting errors, and possibly reducing the data (filtering based on certain criteria or features).
---

In [15]:
# Convert 'Price Dates' to datetime
df['Price Dates'] = pd.to_datetime(df['Price Dates'], format='%d-%m-%Y')

# Handle missing values
print("Missing values before cleaning:")
print(df.isnull().sum())
df.dropna(inplace=True)  # Drop rows with missing values



# Handle outliers using the IQR method for all numerical columns
for column in df.select_dtypes(include=['float64', 'int64']).columns:
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]


# Correct errors in data types
df['Price Dates'] = pd.to_datetime(df['Price Dates'], format='%d-%m-%Y')
numeric_columns = ['Bhindi (Ladies finger)', 'Tomato', 'Onion', 'Potato', 'Brinjal', 
                   'Garlic', 'Peas', 'Methi', 'Green Chilli', 'Elephant Yam (Suran)']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

# Reset index after filtering
df.reset_index(drop=True, inplace=True)

# Summary of cleaned data
print(df.info())
print(df.describe())
print("Data after cleaning:")

Missing values before cleaning:
Price Dates               0
Bhindi (Ladies finger)    0
Tomato                    0
Onion                     0
Potato                    0
Brinjal                   0
Garlic                    0
Peas                      0
Methi                     0
Green Chilli              0
Elephant Yam (Suran)      0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Price Dates             169 non-null    datetime64[ns]
 1   Bhindi (Ladies finger)  169 non-null    float64
 2   Tomato                  169 non-null    int64
 3   Onion                   169 non-null    float64
 4   Potato                  169 non-null    int64
 5   Brinjal                 169 non-null    int64
 6   Garlic                  169 non-null    int64
 7   Peas                    169 non-null    int64
 8   Methi                   169 non-null    int64
 9   Green Chilli            169 non-null    float64
 10  Elephant Yam (Suran)    169 non-null    int64
dtypes: datetime64[ns](1), float64(3), int64(7)
memory usage: 14.7 KB
None
                         Price Dates  Bhindi (Ladies finger)  Tomato  \
count                            169              169.000000   169.0
mean   2023-05-21 13:20:56.804733696               28.591716    16.0
min              2023-01-02 00:00:00               17.000000    16.0
25%              2023-03-06 00:00:00               22.000000    16.0
50%              2023-05-10 00:00:00               28.000000    16.0
75%              2023-08-11 00:00:00               33.000000    16.0
max              2024-01-01 00:00:00               47.500000    16.0
std                              NaN                7.300044     0.0

            Onion      Potato     Brinjal      Garlic        Peas      Methi  \
count  169.000000  169.000000  169.000000  169.000000  169.000000  169.00000
mean    15.603550   17.857988   28.721893  107.721893   55.349112   12.00000
min      8.000000   13.000000   14.000000   55.000000   22.000000    5.00000
25%     11.000000   15.000000   25.000000   80.000000   30.000000    8.00000
50%     13.000000   18.000000   25.000000   90.000000   55.000000   12.00000
75%     21.000000   20.000000   35.000000  160.000000   70.000000   15.00000
max     40.000000   24.000000   50.000000  270.000000  120.000000   25.00000
std      6.445716    2.868748    8.542586   45.851593   24.047374    4.84768

       Green Chilli  Elephant Yam (Suran)
count    169.000000            169.000000
mean      41.899408             27.183432
min       25.000000             18.000000
25%       35.000000             25.000000
50%       40.000000             25.000000
75%       50.000000             30.000000
max       65.000000             35.000000
std        8.053870              3.945547
Data after cleaning:

---
<a href=#five></a>
## **Exploratory Data Analysis (EDA)**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Explore and visualize the data to uncover patterns, trends, and relationships.
* **Details:** Use statistics and visualizations to explore the data. This may include histograms, box plots, scatter plots, and correlation matrices. Discuss any significant findings.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#six></a>
## **Modeling**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Develop and train predictive or statistical models.
* **Details:** Describe the choice of models, feature selection and engineering processes, and show how the models are trained. Include code for setting up the models and explanations of the model parameters.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#seven></a>
## **Evaluation and Validation**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Evaluate and validate the effectiveness and accuracy of the models.
* **Details:** Present metrics used to evaluate the models, such as accuracy, precision, recall, F1-score, etc. Discuss validation techniques employed, such as cross-validation or train/test split.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#eight></a>
## **Final Model**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Present the final model and its performance.
* **Details:** Highlight the best-performing model and discuss its configuration, performance, and why it was chosen over others.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#nine></a>
## **Conclusion and Future Work**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Summarize the findings and discuss future directions.
* **Details:** Conclude with a summary of the results, insights gained, limitations of the study, and suggestions for future projects or improvements in methodology or data collection.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

---
<a href=#ten></a>
## **References**
<a href=#cont>Back to Table of Contents</a>

* **Purpose:** Provide citations and sources of external content.
* **Details:** List all the references and sources consulted during the project, including data sources, research papers, and documentation for tools and libraries used.
---

In [ ]:
#Please use code cells to code in and do not forget to comment your code.

## Additional Sections to Consider

* ### Appendix: 
For any additional code, detailed tables, or extended data visualizations that are supplementary to the main content.

* ### Contributors: 
If this is a group project, list the contributors and their roles or contributions to the project.